spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5432/auth-db
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update   # use 'validate' in production
    show-sql: true
    properties:
      hibernate:
        format_sql: true


  sql:
    init:
      mode: always

logging:
  level:
    org.hibernate.SQL: DEBUG
